@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');



body {
    height: 100%;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.card-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 520px;
    width: 310px;
    border-radius: 8px;
    background-color: hsl(216, 50%, 16%);
    position: relative;
    
}

.card-img {
    height: 50%;
    width: 85%;
    display:block;
    margin: 23px auto;
    border-radius: 8px;

}

.img-hover {
    height: 50%;
    width: 85%;
    top: 4.4%;
    left: 7.6%;
    border-radius: 8px;
    background-color:  hsl(178, 100%, 50%,0.5);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.img-hover:hover {
    opacity: 1;
    cursor: pointer;
}

.view-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card-text-container {
    width: 85%;
    margin: 0 auto;
}

.card-text-header {
    font-weight: 600;
    padding: 5px 0px;
}

.card-text-header-link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    cursor: pointer;
}

.card-text-body {
    color: hsl(184, 9%, 62%); 
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 400;
}

.card-text-img-pill {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.clock-img-container,.etherium-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etherium-img {
    height: 15px;
    width: 8px;
}

.clock-img-text,.etherium-img-text {
    font-size: 15px;
    padding-left: 8px;
    cursor: pointer;
  
}

.clock-img-text-link {
    color: hsl(184, 9%, 62%); 
    font-weight: 600;
    text-decoration: none;
}
 
.etherium-img-text-link {
    color:  hsl(178, 100%, 50%);
    font-weight: bolder;
    text-decoration: none;
}

.card-line  {
    margin-top: 15px;
    border-bottom: 1px solid hsl(0, 0%, 44%);
}

.card-avatar-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.card-avatar-img {
    height: 30px;
    width: 30px;
}

.card-avatar-text {
    font-size: 0.8rem;
    margin-left: 10px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    
}

.card-text-header-link:hover,.clock-img-text-link:hover {
    color:  hsl(178, 100%, 50%)
}